body,
* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: aqua;
    text-align: center;
    height: 50px;
    border-radius: 20px;
    line-height: 50px;
    color: white;
    margin: 20px;


}

.navigation {
    background-color: aqua;
    text-align: center;
    height: 25px;
    border-radius: 20px;
    line-height: 25px;
    color: white;
    margin: 20px;
}

.menu {
    display: flex;
    height: 200px;
}

.menu .sidebar {

    width: 25%;
    background-color: aqua;
    text-align: center;
    border-radius: 20px;
    line-height: 180px;
    color: white;
    margin-left: 20px;

    margin-right: 10px;
}

.menu .content {
    width: 75%;
    background-color: aqua;
    text-align: center;
    border-radius: 20px;
    line-height: 180px;
    color: white;

    margin-left: 10px;
    margin-right: 20px;
}

.footer {
    background-color: aqua;
    text-align: center;
    height: 25px;
    border-radius: 20px;
    line-height: 25px;
    color: white;
    margin: 20px;
}